.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.InputElement
{
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 10px;
}

.Invalid
{
    border: 1px solid red;
    background-color: salmon;
}

.ValidationError {
    color: red;
    margin: 5px 0;
} 